<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dash</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <main class="container">
        <h2 class="text-center m-5"> Dashboard</h2>
        <div class="row">
            <div class="col-md-6">
                <form id="form">
                    <label>Cambia tu e-mail: </label>
                    <input type="email" class="form-control" id="email">
                    <button class="btn btn-primary mt-3" id="update">Actualizar</button>
                </form>
            </div>
            <div class="col-md-6">
                <form id="form2">
                    <label>Cambia tu password: </label>
                    <input type="password" class="form-control" id="password">
                    <button class="btn btn-primary mt-3" id="update2">Actualizar</button>
                    
                </form>
               
            </div>
        </div>
        <div class="row">
        <div class="col-12 content-justify mt-5">
            <a id ="logout" href="/logout" class="btn btn-danger mt-3 px-5">Cerrar sesión</a>

        </div>
        </div>
    </main>
   
</body>

<script>
    document.getElementById('form').addEventListener('submit', (e) => {
        e.preventDefault();
        const email = document.getElementById('email').value;
        const token = localStorage.getItem('token');
        const old_e = localStorage.getItem('email');
        console.log(old_e)
        fetch('/changemail', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + token
            },
            body: JSON.stringify({ email: email, old_e: old_e})
        })
        .then(res =>{
            if (res.ok) {
                return res.json();
            } else {
                throw new Error('Error al cambiar email');
            }
        }).then(data => {
            console.log(data);
            alert(data.message)
        }).catch(err => {
            console.log(err);
            //window.location.href = 'error.html';
        })
    })
    

    document.getElementById('form2').addEventListener('submit', (e) => {
        e.preventDefault();
        const password = document.getElementById('password').value;
        const old_p = localStorage.getItem('password');

        fetch('/changepass', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer ' + localStorage.getItem('token')
            },
            body: JSON.stringify({ password: password, old_p: old_p})
        })
        .then(res => res.json())
        .then(data => {
            console.log(data);
            
           alert(data.message);
            }
)
        })
        document.getElementById('logout').addEventListener('click', (e) => {
        e.preventDefault();
        localStorage.removeItem('token');
        localStorage.removeItem('email');
        localStorage.removeItem('password');
        window.location.href = '/';
    })
    
</script>
</html>
